@charset 'utf-8';

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgba(29, 29, 31);

  /* 자간 */
  letter-spacing: -0.05em;

  background-color: white;
}

p {
  /* 행간 */
  line-height: 1.6;
}

a {
  color: rgba(20, 29, 31);
  text-decoration: none;
}

.global-nav {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}

.local-nav {
  position: absolute;
  top: 45px;
  left:0;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #ddd;
  padding: 0 1rem;

}

.global-nav-links,
.local-nav-links {
  max-width: 1000px;
  height: 100%;

  /* 센터 정렬 */
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.global-nav-links {
  justify-content: space-between;
}

/* margin: auto는 여백을 다 쓴다. */
.product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}

/* not을 활용 */
.local-nav-links a:not(.product-name){
  margin-left: 2em;
  font-size: 0.8rem;
}

.scroll-section{
  padding-top: 50vh;
  border: 1px solid crimson;
}

/* #scroll-section-0 */
#scroll-section-0 h1 {
  font-size: 4rem;
  text-align: center;
}

.main-message  {
  height: 3em;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  top: 35vh;
}

.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

/* #scroll-section-1 */
.description {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: #888;
  padding: 0 1rem;
}

.description strong {
  float: left;
  margin-right: 0.2em;
  font-size:3rem;
  color: rgba(29, 29, 31);
}

/* scroll-section-2 */
#scroll-section-2 .main-message{
  font-size: 3.5rem;
}

.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}

.desc-message {
  width: 50%;
  font-weight: bold;
}

#scroll-section-2 .b {
  top: 10%;
  left: 40%; 
}

#scroll-section-2 .c {
  top: 15%;
  left: 45%; 
}

.pin {
  width: 1px;
  height: 100px;
  background-color: rgba(29, 29, 31)
}

/* scroll-section-3 */
.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888
}

.mid-message strong {
  color: rgba(29, 29, 31);
}

.canvas-caption {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}

/* footer */
.footer {
  display: flex;
  height: 7em;
  background-color: darkorange;
  color: white;
  justify-content: center;
  align-items: center;
}


/* 위치가 고정된 요소의 처리 
기본적으로 안보인다. */
.sticky-elem {
  display: none;
  position: fixed;
  /* top:0; */
  left:0;
  width:100%;
}

/* 스크롤 깊이에 따라 바디에 id값이 부여된다. 해당 영역의 고정된 요소만 보이게된다.*/
body#show-scene-0 #scroll-section-0 .sticky-elem,
body#show-scene-1 #scroll-section-1 .sticky-elem,
body#show-scene-2 #scroll-section-2 .sticky-elem,
body#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}


/* pc버전 */
@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw; 
  }

  .main-message {
    font-size: 4vw;
  }

  .description {
    font-size:2rem;
  }
  .description strong {
    font-size: 6rem;
  }

  #scroll-section-2 .main-message {
    font-size: 6vw;
  }

  .main-message small {
    font-size:1.5vw
  }

  .desc-message {
    width: 20%;
  }

  #scroll-section-2 .b {
    top: 20%;
    left: 53%; 
  }
  
  #scroll-section-2 .c {
    left: 55%; 
  }
  .mid-message {
    font-size: 4vw;
  }

  .canvas-caption{
    font-size: 2rem;
  }
}